
/* Estilos para el contenedor de propiedades */

#containerPropiedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

#containerPropiedadeds div {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    transition: transform 0.2s;
}

#containerPropiedadeds div:hover {
    transform: scale(1.05);
}


/* Estilos para las tarjetas de propiedades */

.propiedadCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.propiedadCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.propiedadCard h3 {
    margin-top: 10px;
    padding: 20px 0 10px 0;
    font-size: 1.2rem;
    color: #131212;
}

.propiedadCard p {
    font-size: 0.9rem;
    color: #555;
    margin: 8px 0;
    text-align: left;
}


/* Estilos para el menú de navegación */
.menu  {
    
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.menu a {
    
    padding: 15px;
    margin-top: 20px;
    text-decoration: none;
}


.menu a:hover {
    background-color: #ddd;
    border-radius: 8px;
    transition: background-color 0.3s;

}

.menu h1 {
    text-align: center;
    font-size: 2rem;
}


/* Estilos para los botones de acción */
.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.botones button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
